@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(211, 207, 203);
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
}

/* .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
*/
.mySwiper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  transition: all ease-in-out 0.3s;
  color: #ffff;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1.2);
}
